<!DOCTYPE html>
<html>

    <head>
        <title>
            My Site
        </title>
    </head>

    <body>
        <header>
            <h1> Signup</h1>
        </header>

        <nav>
            NAVBAR
        </nav>

        <main>
            <form action="/signup" method="POST">
                <input type="username" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Sign up">
            </form>

            <br>{{text}}<br>

            <br>already have an account?</br>
            <a href="/login">Log in</a>
        </main>

        <footer>
            <p>the footer</p>
        </footer>
    </body>

</html> 